html {
    background-image: url("../images/adam-grabek-28280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lobster Two';
}
body {
    min-height: 400px;
    max-width: 500px;
    background: rgba(69,90,100,0.9);
    margin: 50px auto;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    padding-top: 8px;
}

h1,p{
  text-align: center;
  font-weight: 200;
}
p{
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.temp{
  display: flex;
  font-size: 24px;
  font-weight: 200;
}
.icon{
  margin-top: -3px;
}
.main-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
ul {
    background-color: lightgrey;
    list-style: none;
    padding: 0;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: black;

    text-align: center;
    border-top: 1px solid white;
}

p:last-child{
  font-size: 15px;
}
@media(max-width: 965px){
  html {
      background-image: none;
      background-color: #61adb5;
  }
  body {
    background-image: url("../images/adam-grabek-28280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul{
    background-color: rgba(211,211,211,0.7);
  }

  h1{
  color:black;
  text-shadow: 0 0 7px white;
  font-weight: 500;
  }
  p{
    color: black;
    text-shadow: 0 0 7px white;
    font-weight: 500;
  }
  p:last-child{
    color:white;
    text-shadow: 0 0 7px black;
    font-weight: 300;
  }
  .temp{
    color: black;
    text-shadow: 0 0 7px white;
    font-weight: 500;
  }
}
